h1 {
  color: hsl(237, 12%, 33%);
}

body {
  color: hsl(240, 6%, 50%);
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-box {
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 20px 25px rgb(88, 64, 184);
}

.img-content {
  background: url(images/illustration-woman-online-desktop.svg) no-repeat 100% 45%, url(images/bg-pattern-desktop.svg) no-repeat 100% 72%;
  width: 410px;
  position: relative;
}

.box-img {
  position: absolute;
  top: 180px;
  left: -95px;
}

.faq-content {
  max-width: 430px;
  padding: 58px;
}

input[type='checkbox'] {
  display: none;
}

.accordion label {
  font-size: 14px;
  color: hsl(238, 29%, 16%);
  display: block;
  position: relative;
}

.accordion label::after {
  content: url("images/icon-arrow-down.svg");
  position: absolute;
  right: 0;
}

.accordion {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding: 15px 0;
}

.accordion .accordion-content {
  font-size: 12px;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

input:checked~.accordion-content {
  max-height: 100vh;
}

input:checked~label::after {
  content: url("images/icon-arrow-down.svg");
  height: 100%;
  transform: rotate(180deg);
}

@media only screen and (max-width: 600px) {
  .flex-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
    height: 75%;
    margin-top: 5rem;
  }

  .img-content {
    background: url(images/illustration-woman-online-mobile.svg) center no-repeat, url(images/bg-pattern-mobile.svg) no-repeat 50% 100%;
    background-size: 92%,92%;
    width: 50%;
    height: 40%;
    position: absolute;
    top: -7rem;
    left: 8rem;
  }

  .faq-content {
    top: 2rem;
    position: relative;
  }

  .box-img {
    display: none;
  }

  h1 {
    text-align: center;
  }
}
